body {
  background-color: blue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}


#firsprocent {
  width: 80%;
  margin: auto;
}


#femtiprocent {
  text-align: center;
}



#button1 {
  width: 18%;
  color: black;
  background-color: green;
}

#button2 {
  width: 100%;
  color: black;
  background-color: red;
}